<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лични финанси и бюджетиране</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/site1.css">
</head>
<body>
    <div class="container">
        <h1>Лични финанси и бюджетиране</h1>
        <p><strong>Идея:</strong> Интерактивен инструмент за бюджетиране и управление на личните финанси.</p>
        <p><strong>Ползи:</strong> Помага на потребителите да управляват разходите си и да спестяват.</p>
        
        <h2>Функционалности:</h2>
        <ul>
            <li class="result-item">Интерактивен инструмент за бюджетиране.</li>
            <li class="result-item">Списък със съвети за спестяване и управление на дългове.</li>
            <li class="result-item">Калкулатор за финансови цели.</li>
        </ul>

        <h2>Как работи:</h2>
        <p>Потребителите могат да въвеждат месечния си доход и разходи, за да получат разпределение по метода 50/30/20.</p>

        <img src="https://admin.cashpoint.bg/storage/media/8f85517967795eeef66c225f7883bdcb/c/kak-da-napravim-biudzhet-na-lichnite-finansi-grid.jpg?v=1706537763" alt="Лични финанси">

        <div class="back-button-container">
            <a href="../index.html" class="back-button">Назад</a>
        </div>
    </div>
</body>
</html> 