<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Защита на трудовите права</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/site1.css">
</head>
<body>
    <div class="container">
        <h1>Защита на трудовите права</h1>
        <p><strong>Идея:</strong> Платформа с информация за правата на работниците.</p>
        <p><strong>Ползи:</strong> Помага на работниците да разбират правата си и как да ги защитават.</p>
        
        <h2>Функционалности:</h2>
        <ul>
            <li class="result-item">Интерактивни ръководства за правата на работниците.</li>
            <li class="result-item">Контакти на институции и синдикати.</li>
            <li class="result-item">Примерни шаблони за жалби.</li>
        </ul>

        <h2>Как работи:</h2>
        <p>Потребителите могат да получават информация и да се свързват с институции.</p>

        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-pIHJrJw3rgbTAIawkfPCAeg2Rgb91XTkX1xU69XYCKoWWq1cxidBd1oYlv0D6ardsoE&usqp=CAU" alt="Трудови права">

        <div class="back-button-container">
            <a href="../index.html" class="back-button">Назад</a>
        </div>
    </div>
</body>
</html> 